{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 144,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "bracketSameLine": true,
  "svelteIndentScriptAndStyle": true,
	"plugins": [
		"prettier-plugin-svelte",
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
  "pluginSearchDirs": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "importOrder": [
    "^svelte$",
    "^svelte/(.*)$",
    "^fluent-svelte$",
    "^fluent-svelte/(.*)$",
    "^<THIRD_PARTY_MODULES>/(.*)$",
    "^\\$(.*)$",
    "^\\$(.*)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": false
}
